.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabsOuter {
  width: 1170px;
  margin: 20px;
  padding: 10px;
  text-align: left;
}
.tabsOuter ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.tabsOuter ul li button {
  padding: 5px;
  width: auto;
  cursor: pointer;
  border-radius: 5px;
}
.activeButton {
  background-color: red !important;
  color: white !important;
}

form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  flex-basis: 80%;
  height: 40px;
}
button {
  flex-basis: 20%;
}
.Overlay {
  width: 1170px;
  margin: auto;
}
.Overlay ul {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
}
.Overlay ul li {
  color: white;
  padding: 20px;
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: black;
  text-align: left;
}
.Overlay ul li span {
  right: 20px;
  position: absolute;
  cursor: pointer;
}
.activetab {
  text-decoration: line-through;
  color: black;
  background-color: #61dafb !important;
}
